{% extends 'base.html' %} {% from "macros/header.html" import header with
context %} {% from "macros_extra/elasticnet_form.html" import elasticnet_form
with context %} {% from "macros_extra/preprocess_form.html" import
preprocess_form with context %} {% from "macros_extra/anal_plots.html" import
anal_plots with context %} {% block head %} {{ header() }} {%endblock %} {%
block main %}



<div class="analytics">
	<h1>Analytics</h1>
	<div class="container">
		{{ anal_plots() }}
		<div id="anal_plots"></div>
	</div>
	<hr />
</div>

<h1>Predictions</h1>
<div class="preprocess">
	<h2>Preprocess</h2>
	<div id="preprocess-form-container">
		<h3>Preprocess Form</h3>
		{{ preprocess_form() }}
	</div>
</div>

<div class="model-elasticnet">
	<h2>ElasticNet</h2>
	<div id="elasticnet-form-container">
		<h3>ElasticNet Form</h3>
		{{ elasticnet_form() }}
	</div>
</div>


{% endblock %} {% block script %} {% endblock %}
