{% extends 'base.html' %}
{% from "macros/header.html" import header with context %}

{% block head %} {{ header() }} {%endblock %} 

{% block main %}

<form
action="{{ url_for('api_test') }}"
method="GET"
class="bg-dark p-4"
id="test-form"
>
<div class="form-floating mb-3">
	<input
		type="text"
		id="ticker"
		name="ticker"
		class="form-control"
		placeholder="Ticker"
	/>
	<label for="ticker">Ticker:</label>
</div>


<button type="submit" class="btn btn-primary" form="test-form">Submit</button>
</form>


<div class="analytics">
    <h1>Analytics</h1>
	<div class="container">
		<form
			id="analytics-form"
			action="{{ url_for('api_analytics') }}"
			method="GET"
			class="bg-dark p-4 plotly"
		>
			<div class="form-floating mb-3">
				<input
					type="text"
					id="ticker"
					name="ticker"
					class="form-control"
					placeholder="Ticker"
				/>
				<label for="ticker">Ticker:</label>
			</div>


			<button type="submit" class="btn btn-primary" form="analytics-form">Submit</button>
		</form>
        <div id="anal_plots"></div> 
	</div>
	<hr />
</div>

<h1>Predictions</h1>
<h2>ElasticNet</h2>

{% endblock %}

{% block script %} {% endblock %}

