{% extends 'base.html' %} {% from "macros/header.html" import header with
context %} 

{% from "macros_extra/elasticnet_form.html" import elasticnet_form with
context %}

{% from "macros_extra/preprocess_form.html" import preprocess_form with
context %}

{% from "macros_extra/anal_plots.html" import anal_plots with
context %}

{% block head %} {{ header() }} {%endblock %} {% block main %}

<form
	action="{{ url_for('api_test') }}"
	method="GET"
	class="bg-dark p-4"
	id="test-form"
>
	<div class="form-floating mb-3">
		<input
			type="text"
			id="ticker"
			name="ticker"
			class="form-control"
			placeholder="Ticker"
		/>
		<label for="ticker">Ticker:</label>
	</div>

	<button type="submit" class="btn btn-primary" form="test-form">
		Submit
	</button>
</form>

<div class="analytics">
	<h1>Analytics</h1>
	<div class="container">
		{{ anal_plots() }}
		<div id="anal_plots"></div>
	</div>
	<hr />
</div>

<h1>Predictions</h1>
<div class="preprocess">
	<h2>Preprocess</h2>
	{{ preprocess_form() }}
</div>

<div class="model-elasticnet">
    <h2>ElasticNet</h2>
	{{ elasticnet_form() }}
</div>




{% endblock %} {% block script %} {% endblock %}
