@import url("https://fonts.googleapis.com/css?family=Oswald");

:root {
    --black: #000;
    --white: aliceblue;
    --highlight_light: #7700ff;
    --highlight_dark: #4b01a0;
    --hightlight_lighter: rgb(174, 0, 255);
}


html * {
   font-family: 'Calibri';
}

/* When the screen width hits 960px, we increase the global font size to 14px. This changes
   the scale of all of our relative units (the rems), keeping everything in proportion */
@media screen and (min-width: 60em) {
html {
    font-size: 14px;
}
}

/* When the screen width hits 1200px, we once again increase the global font size, this time to 16px */
@media screen and (min-width: 75em) {
html {
    font-size: 18px;
}
}

body {
    color: var(--white);
    background: var(--black);
    background-image: url('background.jpg');
    display: flexbox;
    align-items: center;
    justify-content: center;
    height: 100vh;
    transition: 0.5s background ease;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* background-image: url('background.jpg'); */
}

/* body.dark-theme {
    color: var(--white);
    background: var(--black);
    background-image: url('background.jpg');
    display: flexbox;
    align-items: center;
    justify-content: center;
    height: 100vh;
    transition: 0.5s background ease;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
} */



a:visited {
    color: var(--hightlight_lighter);
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: rgb(174, 0, 255); 
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color:red;
    background-color: transparent;
    text-decoration: underline;
}

a {
    color:var(--highlight_light);
}

/* body.light-theme {
    color: var(--black);
    background: var(--white);
    background-image: url('background_con.jpg');
    display: flexbox;
    align-items: center;
    justify-content: center;
    height: 100vh;
    transition: 0.5s background ease;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
} */

/* .theme-switch {
    --background: var(--highlight_dark);
    --text: #000;
    color: var(--text);
    width: 70px;
    height: 30px;
    background: rgb(107, 105, 105);
    border-radius: 50px;
    position:absolute;
    right:0%
}

.theme-switch .switch {
    background: white;
    width: 24px;
    height: 24px;
    background: var(--background);
    border-radius: 100%;
    position: absolute;
    top: 3px;
    left: 4px;
    transition: 0.5s all ease;
} */


/* .light-theme .theme-switch .switch {
    transform: translateX(37px);
}  */


.flex-grid {
    display: flex;
    align-items: center;
    justify-content: center;
}
.col {
flex: 1;
}

@media (max-width: 400px) {
.flex-grid {
    display: block;
}
}


.author {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:45pt;
}


p,.cntr {
    text-align: center;
    font-weight:bold;
}

.reserv {
    display: flexbox;
}

#myBtn {

    /* position: fixed; Fixed/sticky position */
    /* bottom: 20px; Place the button at the bottom of the page
    right: 30px; Place the button 30px from the right
    z-index: 99; Make sure it does not overlap */
    border-color: var(--hightlight_lighter);
    outline: none; /* Remove outline */
    background: none;
    color: var(--white);
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 10px; /* Some padding */
    border-radius: 100px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    right: 5%;
    position: absolute;
  }
  
#myBtn:hover {
background-color: var(--hightlight_lighter);/* Add a dark-grey background on hover */
}



.plotly {
    display: flexbox;
    align-items: center;
    justify-content: center;
}

.chart {
    border:2px solid green; 
}

.navbar {
    display: flexbox;
    grid-template-columns: auto auto auto;
    justify-content: center;
    padding: 0%;
}

.nav-item {
padding: 30px;
text-align: center;
justify-content: center;
padding: 0%;
}

ul a {
    margin: 10px 30px;
    position: relative;
    color: var(--text);
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
}

#skills {
    color: rgb(0, 255, 76);
}


.navbar2 {
    display: flex;
    grid-template-columns: auto auto auto;
    justify-content: center;
    font-weight: bold;
    padding-top: -10%;
    padding-bottom: -10%;
}

.nav-item2 {
padding: 30px;
padding: 0%;
}


h1,h2,h3,h4 {
    display: flex;
    justify-content: center;
    padding: 0%;

}

dl,dd,ul,li {
    /* padding: 1%; */
    padding-bottom: 1%;
}

.error {
    color: red
}

.warning {
    color:gold
}

.scroll-table-container {
    border:2px solid green; 
    height:30%; 
    overflow: scroll;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.table-container {
    border:2px solid green; 
    width: fit-content;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.table-df, td, th {
border-collapse:collapse; 
border:1px solid #777; 
min-width: 100px;
}

.img-container {
    display: flex;
    justify-content: center;
    border:2px solid green; 
}

#plot_residuals {
    height: auto; 
    width: auto; 
    max-width: 70%; 
    max-height: 70%;
}

.pcont {
    margin-left: 25%;
    margin-right: 25%;
    justify-content: left;
}


.certif {
    margin: auto; 
    width: fit-content;

    /* border: 3mm ridge #7700ff; 
    border-radius: 5px;      */

    display: grid;
    grid-template-rows: auto;

    grid-auto-flow: column;
    /* overflow-x: scroll; */
    padding: 10px;    
    column-gap: 1%;
    /* overflow-y: hidden; */
}

.certif_child {
    margin: auto; 
    width: fit-content;

    /* border: 3mm ridge #7700ff; 
    border-radius: 5px;  */

}

#certif_img {
    display: flex;
    align-items: center;
    justify-content: center;   
    margin: auto; 
    width: fit-content; 
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    width: 350px; /* Set a small width */    
    /* float:inline-end; */
    /* vertical-align:middle; */

}

.dropbtn {
    background-color: #8c04aa;
    color: white;
    padding: 16px;
    font-size: 16px;
    font-weight: bold;
    /* border: none; */
    /* display: flex; */
    align-items: center;
    justify-content: center;   
    margin: auto; 
    width: fit-content; 
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    width: 350px; /* Set a small width */     
}
  
.dropdown {
position: relative;
display: flex;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #c1bdbd;
min-width: 160px;
width: fit-content;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
top: 105%; left: 10%;
font-weight: bold;
}

.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

.dropdown-content a:hover {
    background-color:#8c04aa;
    color:rgb(251, 251, 251)
}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}