{% macro elasticnet_form() %}
<form
	id="model-elasticnet-form"
	action="{{ url_for('api_models_elasticnet') }}"
	method="GET"
	class="bg-dark p-4 plotly"
>
	<table class="table table-dark table-striped">
		<tr>
			<th>
				<p>Parameters</p>
			</th>
			<th>
				<p>Default Value</p>
			</th>
			<th>
				<p>Grid Values</p>
			</th>
			<th>
				<p>Custom Values</p>
			</th>
		</tr>
		{% for k,v in ElasticNetParams.items() %}
		<tr>
			<td>
				<label for="{{k}}">{{k|capitalize}}:</label>
			</td>
			<td>
				{% if v.default is not none and v.default or v.default == 0 %}
				<input
					type="checkbox"
					name="{{k}}_default_checked"
					checked
					value="{{v.default}}"
				/>
				<label for="{{k}}_default">{{v.default}}</label>
				{% endif %}
			</td>
			<td>
				{% if v.grid_values is not none and v.grid_values %}
				<input
					type="checkbox"
					name="{{k}}_grid_values"
					value="{{v.grid_values}}"
				/>
				<label for="{{k}}_grid_values">{{v.grid_values}}</label>
				{% endif %}
			</td>
			<td>
				<input
					type="checkbox"
					name="{{k}}_user_input"
					{% if v.options is defined %}
					value="{{ v.default }}"
					{% else %}
					value="{{ v.min }}"
					{% endif %}
				/>
				<label for="{{k}}_user_input">User Input</label>

				{% if v.options is defined and v.options|length>0 %}
				<select>
					{% for option in v.options %}
					<option value="{{ option }}">{{ option }}</option>
					{% endfor %}
				</select>

				{% else %}
				<input 
					type="{{ v.type }}"
					name="{{k}}"
					class="form-control"
					placeholder="{{k|capitalize}}"
					{% if v.min is defined %}
					min="{{ v.min }}"
					value="{{v.min}}"
					{% endif %}
					{% if v.max	is defined %}
					max="{{ v.max }}"
					{% endif %}
					{% if v.step is	defined %}
					step="{{ v.step }}"
					{% endif %}
					{% if v.value is defined %}
					{% endif %}
				/>
				{% endif %} 
				
				{% if v.type=='range' %}
				<span>{{v.min}}</span>
				{% endif %}
			</td>
		</tr>
		{% endfor %}
	</table>
	<button type="submit" class="btn btn-primary">Submit</button>


	
</form>
{% endmacro %}
