{% macro elasticnet_form() %}
<form
	id="model-elasticnet-form"
	action="{{ url_for('api_models_elasticnet') }}"
	method="GET"
	class="bg-dark p-4 plotly"
>
	<table class="table table-dark table-striped">
		<tr>
			<th>
				<p>Parameters</p>
			</th>
			<th>
				<p>Default Value</p>
			</th>
			<th>
				<p>Grid Values</p>
			</th>
			<th>
				<p>Custom Values</p>
			</th>
		</tr>
		{% for k,v in ElasticNetParams.items() %}
		<tr>
			<td>
				<label for="{{k}}">{{k|capitalize}}:</label>
			</td>
			<td>
				{% if v.default is not none and v.default or v.default == 0 %}
				<input
					type="checkbox"
					name="{{k}}_default_checked"
					onchange="handleCheckboxChange(this)"
					checked
					value="{{v.default}}"
				/>
				<label for="{{k}}_default">{{v.default}}</label>
				{% endif %}
			</td>
			<td>
				{% if v.grid_values is not none and v.grid_values %}
				<input
					type="checkbox"
					name="{{k}}_grid_values"
					onchange="handleCheckboxChange(this)"
					value="{{v.grid_values}}"
				/>
				<label for="{{k}}_grid_values">{{v.grid_values}}</label>
				{% endif %}
			</td>
			<td>
				<input
					type="checkbox"
					name="{{k}}_user_input"
					onchange="handleCheckboxChange(this)"
					value="{{ v.min }}"
				/>
				<label for="{{k}}_user_input">User Input</label>

				{% if v.options is defined %}
				<select>
					{% for option in v.options %}
					<option value="{{ option }}">{{ option }}</option>
					{% endfor %}
				</select>	
				{% else %}
				<input
					type="{{ v.type }}"
					name="{{k}}"
					class="form-control"
					placeholder="{{k|capitalize}}"
					{% if v.min is defined %} 
					min="{{ v.min }}"
					value="{{v.min}}"
					{% endif %}
					{% if v.max is defined %} max="{{ v.max }}" {% endif %}
					{% if v.step is defined %}
					step="{{ v.step }}" 
					onchange="updateSliderValue(this)"
					{% endif %}
					{% if v.value is defined %}  {% endif %}					
				/>
				{% endif %}	
				
				{% if v.type=='range' %}
				<span>{{v.min}}</span>
				{% endif %}

		
			</td>
		</tr>
		{% endfor %}
	</table>
	<button type="submit" class="btn btn-primary">Submit</button>

	<script>
		function updateCheckedField(checkbox) {
			const fieldName = checkbox.getAttribute('name');
			const checkedSuffix = '_checked';
		
			// Check if the field is already checked
			if (checkbox.checked) {
				// Remove the checked suffix from the previously checked field, if any
				const previouslyChecked = document.querySelector('input[name$="' + checkedSuffix + '"]');
				if (previouslyChecked) {
					const previousFieldName = previouslyChecked.getAttribute('name');
					previouslyChecked.setAttribute('name', previousFieldName.replace(checkedSuffix, ''));
				}
		
				// Add the checked suffix to the current checked field
				checkbox.setAttribute('name', fieldName + checkedSuffix);
			} else {
				// Remove the checked suffix from the current unchecked field
				checkbox.setAttribute('name', fieldName.replace(checkedSuffix, ''));
			}
		}		
		function handleCheckboxChange(checkbox) {
			const fieldId = checkbox.getAttribute('name').split('_')[0];
			const checkboxes = document.querySelectorAll('input[type="checkbox"][name^="' + fieldId + '_"]');
			checkboxes.forEach(function (cb) {
				if (cb !== checkbox) {
					cb.checked = false;
				}
			});
		
			updateCheckedField(checkbox);
		}
		function updateSliderValue(slider) {
			let checkbox = slider.previousElementSibling;
			while (checkbox && checkbox.type !== 'checkbox') {
				checkbox = checkbox.previousElementSibling;
			}
			if (checkbox) {
				checkbox.value = slider.value;
			}
		
			const valueElement = slider.nextElementSibling;
			if (valueElement && valueElement.tagName === "SPAN") {
				valueElement.textContent = slider.value;
			}
		}
	</script>
</form>
{% endmacro %}
